$textPrimary: rgb(204, 204, 204);
$textSecondary: #b99f7d;
$backgroundPrimary: #191716;
$backgroundSecondary: rgba(34, 34, 34, 0.8);
$backgroundTertiary: rgb(51, 51, 51);
$backgroundGradientA: rgba(15,13,12,1);
$backgroundGradientB: rgba(47,47,46,1);
$highlight: #aa585c;
$font1: 'Didact Gothic', sans-serif;
$font2: 'Alegreya', serif;
$font3: 'Zilla Slab', serif;