@import 'vars.scss'; 

.menu {
  background-color: $backgroundSecondary;
  width: 300px;
  border: 3px solid $backgroundTertiary;
  text-align: center;
  margin: 0 auto;

  .menuContent {
    padding: 1em;
  }

}

.header {
  font-weight: lighter;
  font-size: 40px;
  color: $textSecondary;
  margin: 0;
  background-color: $backgroundTertiary;
}


.modeSelector {
  display: flex;
  margin: 0 0 1em 0;
  border: 1px solid #444;

  .modeOption {
    flex: 1;
    font-size: 18px;
    padding: 0.5em 1em;
    cursor: pointer;
    user-select: none;
    color: #999;
  }

  .modeOption:hover:not(.active) {
    background-color: #2A2A2A;
  }

  .active {
    background-color: #333;
    color: #FFF;
  }
}
.modeSelectorLabel {
  margin: 0;
  text-align: left;
  font-size: 18px;
  padding: 5px 0;
  font-weight: lighter;
}

.menuText {
  text-align: left;
  font-size: 18px;
}

.main__button {
  background-color: $backgroundTertiary;
  color: #999;
  border-radius: 2px;
  margin-top: 2em;
  padding: 0.25em;
  display: block;
  cursor: pointer;
  user-select: none;
  border: 3px solid rgb(69, 99, 35);
  text-align: center;
  font-size: 1.25em;
  text-decoration: none;
  transition: all 0.25s;
}

.main__button.disabled {
  border: 3px solid #333;
  background-color: #222;
  color: #666;
  cursor: not-allowed;
}

.main__button.disabled:hover {
  color: #666;
}

.main__button:hover {
  color: white;
}

